.logo
  margin: 0 auto 50px auto

nav
  width: 600px
  margin: 0 auto

  a
    text-decoration: none
    margin: 10px
    background-color: #1994d2
    display: inline-block
    width: 150px
    height: 50px
    line-height: 50px
    color: #ffffff
    border-radius: 5px
    font-weight: bold
