.logo
  margin-bottom: 40px
.row
  display: block
  margin: 10px

  label
    width: 100px
    display: inline-block
    text-align: right
    margin-right: 8px
    color: #666666

  button
    background-color: #1994d2
    color: #ffffff
    width: 100px
    height: 30px
    border: none
    border-radius: 5px
    margin-left: -30px
    font-weight: bold
